<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kristi&family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <title>Author</title>
</head>
<body>
    <div class="fixed-header">
        <a href="#">
            <i class="fas fa-folder"></i>
            <p>Demos</p>
        </a>
        <a href="#">
            <span class="trentanove"><span class="dollaro">$</span>39</span>
            <p>On Sale</p>
        </a>
    </div>

    <section class="jumbotron">
        <div class="overlay overlay-jumbo">
            <header id="header-vue">
                <ul>
                    <li v-for="(menu, index) in nav" :class="(menu == currentPage)? 'menu-active' : null" @click="page(index)">
                       <a href="#">{{menu}}</a> 
                    </li>
                    <li>
                       <a href="#"><i :class="icon"></i></a> 
                    </li>
                </ul>
            </header>
        </div>
        <img src="img/author-logo-round-small.png" alt="" class="logo-jumbo">
        <div class="book-absolute">
            <div>
                <img src="img/book-widget.png" alt="">
                <div>
                    <h2 class="font-title">Latest Book Release</h2>
                    <p>D. VAUGHN AUTOBIOGRAPHY</p>
                    <p>Vestibulum tristique turpis in ipsum egestas lobortis. Duis maximus bibendum volutpat. Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <a href="#" class="buy-button"> <i class="fab fa-amazon"></i> Buy On Amazon</a><a href="#" class="buy-button"> <i class="fab fa-apple"></i> Buy On AppStore</a>
        </div>
        <div class="jumbo-text">
            <h1 class="handwriting-text">Damon Vaughn</h1>
            <h1 class="font-title"> Best-selling author and the most influential public intellectual in the western world right now.</h1>
            <p>- The New York Times</p>
            <div><i class="fas fa-arrow-left"></i></div>
            <div><i class="fas fa-arrow-right"></i></div>
        </div>
        
    </section>
    <main>
        <section class="more-about">
            <h1 class="handwriting-text">More About Damon Vaughn</h1>
            <p>Damon Vaughn is a professor of psychology at the University of Toronto, a clinical psychologist and the author of the multi-million copy bestseller "The story of my life."</p>
            <a href="#" class="button-green">Meet The Author</a>
        </section>
        <section class="logos">
            <img src="img/ebay-logotan-2x-200x66.png" alt="">
            <img src="img/audible-logotan-2x-200x66.png" alt="">
            <img src="img/bb-logotan-2x-200x66.png" alt="">
            <img src="img/kindlefire-logotan-2x-200x66.png" alt="">
        </section>
        <section class="banner">
            <img src="img/audible-app-2x-400x418.png" alt="">
            <div class="banner-text banner-prop">
                <h2 class="font-title">New Audiobook</h2>
                <h3>NO TIME TO READ? NO PROBLEM. LISTEN TO IT</h3>
                <p>Donec fringilla nunc eu turpis dignissim, at euismod sapien tincidunt. Maecenas eleifend congue cursus.</p>
                <img src="img/audible-logo.png" alt="">
                <img src="img/bn-logo-tall.png" alt="">
                <img src="img/kindle-logo-tall.png" alt="">
            </div>
        </section>
        <section class="critics two-columns">
            <div class="two-col-header">
                <div>
                    <h1 class="font-title">What The Critics Say</h1>
                    <p>TESTIMONIALS FROM AROUND THE WORLD</p>
                </div>
                <a href="" class="yellow-button">Read All Testimonials</a>
            </div>
            <div class="columns">
                <div class="cards critics-left">
                    <div class="overlay" >
                        <h2 class="font-title">Best Author Of His Generation</h2>
                        <hr>
                        <p>This book will change your perspective on life</p>
                        <p>Donec fringilla nunc eu turpisa dignissim, at auismod sapien tincidunt. Maecenas eleifend congue cursus. In vitae enim quis sem pharetra. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                        <p>Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut liber. Proin eget tortor risus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada.</p>
                        <div>
                        <img src="img/nytimes-logo-white-xsmall.png" alt="">
                        <p class="inline didascalia">Justine Kilpatrick,</p>
                        <p class="inline green didascalia">The New York Times</p>
                        </div>
                    </div>
                </div>
                <div class="critics-right">
                    <div>
                        <h3 class="font-title">A True Masterpiece, Bravo!</h3>
                        <p>Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus suscipit tortor eget felis porttitor volutpat. Nulla quis lorem ut libero malesuada feug at.</p>
                    </div>
                    <img src="img/theguardian-xsmall.png" alt="">
                    <p class="inline didascalia"style="color: #806d80"> Gerald Hendley, <p class="inline"> The Guardian</p></p>
                    <div>
                        <h3 class="font-title">A Unique View On The World</h3>
                        <p>Donec sollicitud molestie malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla quis lorem ut libero malesuada feugiat. Vestibulum ac diam sit amet.</p>
                    </div>
                    <img src="img/globe-xsmall.png" alt="">
                    <p class="inline didascalia" style="color: #806d80">Mary Maxey, <p class="inline"> The Globe And Mail</p></p>
                </div>
            </div>
        </section>
        <section class="events">
            <h1 class="font-title">Upcoming Events</h1>
            <p class="yellow">MEET THE AUTHOR IN PERSON</p>
            <div class="columns">
                <div class="events-column">
                    <div class="pos-relative">
                        <img src="img/event-05-400x240.jpg" alt="">
                        <div class="overlay overlay-green"></div>
                    </div>
                    <div>
                        <h2>Chicago Book Signin</h2>
                        <hr>
                        <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a nulla.</p>
                    </div>
                </div>
                <div class="events-column">
                    <div class="pos-relative">
                        <img src="img/event-04-400x240.jpg" alt="">
                        <div class="overlay-green"></div>
                    </div>
                    <div>
                        <h2>Meet & Greet With Amanda</h2>
                        <hr>
                        <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas.</p>
                    </div>
                </div>
                <div class="events-column">
                    <div class="pos-relative">
                        <img src="img/event-07-400x240.jpg" alt="">
                        <div class="overlay overlay-green"></div>
                    </div>
                    <div>
                        <h2>Open Book: Dialogues</h2>
                        <hr>
                        <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a nulla.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="banner-second">
            <div class="overlay banner-prop">
                <h2 class="font-title">Subscribe To My <br>Newsletter</h2>
                <h3>BE NOTIFIED ABOUT BOOK SIGNING TOUR DATES</h3>
                <span class="input">
                    <input class="email" type="email" placeholder="Insert your email ...*">
                    <input class="subscribe button-green" type="submit" value="Subscribe">
                </span>
                <p>Donec fringilla nunc eu turpis dignissim, at euismod sapien tincidunt.</p>
            </div>
        </section>
        <section class="about-author">
            <div>
                <h1 class="font-title">Dig A Little Deeper Into Damon Vaughn</h1>
                <p class="green">FIND OUT MORE ABOUT THE AUTHOR HIMSELF</p>
            </div>
            <div class="three-columns">
                <div class="cards three-col-left">
                    <div class="overlay">
                        <h2>About Me</h2>
                        <hr>
                        <p>Vestibulum ante ipsum primis.</p>
                    </div>
                </div>
                <div class="cards three-col-middle">
                    <div class="overlay">
                        <h2>My Latest Book</h2>
                        <hr>
                        <p>Vestibulum ante ipsum primis.</p>
                    </div>
                </div>
                <div class="cards three-col-right">
                    <div class="overlay">
                        <h2>Book Signing</h2>
                        <hr>
                        <p>Vestibulum ante ipsum primis.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="articles two-columns">
            <div class="two-col-header">
                <div>
                    <h1 class="font-title">Recent Articles</h1>
                    <p>READ THE LATEST ENTRIES</p>
                </div>
                <a href="" class="yellow-button">All Articles</a>
            </div>
            <div class="columns">
                <div class="articles-left">
                    <img src="img/20-Tips-600x353.jpg" alt="">
                    <h2>20 Creativity Tips</h2>
                    <p>By <a href="">admin</a> | October 24th, 2019 | Categories: <a href="">Event</a>,<a href="">Tips & Tricks</a></p>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet.</p>
                </div>
                <div class="articles-right">
                    <div>
                        <img src="img/thumb-13-2x-320x202.jpg" alt="">
                        <h2>What's On Your Booklist</h2>
                        <p>October 24th, 2019 | <a href=""> 0 Comments</a></p>
                    </div>
                    <div>
                        <img src="img/thumb-08-2x-320x202.jpg" alt="">
                        <h2>Instanbul Travel Guide</h2>
                        <p>October 24th, 2019 | <a href=""> 0 Comments</a></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer-vue">
        <div class="orizzontale">
            <img src="img/author-logo-round-200x205.png" alt="">
            <div v-for="colonna in liste">
                <h3 class="font-title">{{colonna.title}}</h3>
                <p v-if="colonna.type == 'descrizione'">
                    {{colonna.paragraph}}
                </p>
                <ul v-else> 
                    <li v-for="lista in colonna.list" :class="(colonna.type == 'link')? 'lista-link' : 'lista-contatti'">
                        {{lista}}
                    </li>
                </ul>
                <ul v-if="colonna.type == 'contatti'" class="icone">
                    <li v-for="icona in colonna.icons">
                        <i :class="icona"></i>
                    </li>
                </ul>
            </div>
        </div>
        <p style="color: #cccccc; font-size: 10px">{{copyright}}</p>
    </footer>
    <div class="absolute-footer">
        <i class="fas fa-chevron-up"></i>
    </div>
    <script src="main.js"></script>
</body>
</html>