* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.handwriting-text {
    font-family: 'Kristi', cursive;
    color: #f3b329;
    font-weight: 100;
    font-size: 80px;
}
.font-title {
    font-family: 'DM Serif Display', serif;
    font-weight: 300;
}
.green {
    color: #3da698;
}
.yellow {
    color: #f3b329;
}
.fixed-header {
    position: fixed; 
    right: 1%; 
    top: 20%;
    z-index: 99999;
}
.fixed-header > a {
    display: block;
    text-decoration: none;
    color: black;
    width: 50px;
    height: 50px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fixed-header i {
    font-size: 25px;
}
.trentanove {
    font-size: 20px;
    color: #3da698;
    font-weight: 700;
}
.dollaro {
    position: relative;
    bottom: 30%;
    right: 3%;
    font-size: 13px;

}
header {
    height: 10vh;
    
}
.jumbotron {
    position: relative;
    height: 90vh;
    width: 100%;
    background-image: url(img/hero-07-2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay {
    background: rgba(0,0,0,0.8);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 81%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
.logo-jumbo {
    position: absolute;
    left: 5%;
    top: 0;
}
.book-absolute {
    width: 35%;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 40px 45px;
    font-size: 13px; 
}
.book-absolute p:first-of-type {
    color: #f3b329;
    font-size: 11px;
    font-weight: 700;
    margin: 20px 0;
}
.book-absolute p:last-of-type {
    font-size: 11px;
    line-height: 20px;
    color: #868586;
}
.book-absolute img {
    width: 50%;
}
.book-absolute > div {
    display: flex; 
    justify-content: space-between;
}
.book-absolute a {
    display: inline-block;
    width: 50%;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(120, 207, 196, 0.1);
    text-decoration: none; 
    color: black;
    font-size: 10px;
    font-weight: 500;
}
.book-absolute a:first-of-type {
    border: 1px solid rgba(120, 207, 196, 0.5);
    border-radius: 5px 0 0 5px;
}
.book-absolute a:last-of-type {
    border: 1px solid rgba(120, 207, 196, 0.5);
    border-left: 0;
    border-radius: 0 5px 5px 0;
}
.jumbo-text {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 40%;
}

.jumbo-text .font-title {
    color: white;
    font-size: 35px;
}

.jumbo-text p {
    color: #868586;
    font-style: italic;
    font-size: 17px;
    margin: 20px 0;
}

.jumbo-text div {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6); 
    width: 40px;
    height: 40px;
    color: white; 
    text-align: center;
    line-height: 40px;
}

.jumbo-text div:first-of-type{
    border-radius: 5px 0 0 5px;
}
.jumbo-text div:last-of-type {
    border-radius: 0 5px 5px 0;
}

.more-about {
    text-align: center;
    padding: 100px 15%;
}

.more-about p {
    font-size: 21px;
}

.more-about a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3da698;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    font-size: 10px;
    font-weight: 500;
    
}

.logos {
    height: 20vh;
    background-color: #fef7e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
}
.logos img {
    width: 170px;
}

.banner {
    position: relative;
    height: 60vh;
    background-image: url(img/banner.jpg);
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: -100px -50px;
    padding: 50px 20% 0 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.banner > img {
    height: 90%;
    position:absolute;
    bottom: 0;
    left: 20%;
}

.banner-text {
    width: 45%;
}
.banner-prop {
    text-align: center;
    color: white;
}

.banner-prop h2 {
    color: white;
    font-size: 32px;
    margin-bottom: 10px;
}
.banner-prop h3 {
    color: #f3b329;
    font-size: 14px;
    font-weight: 500;
}
.banner-prop p {
    font-size: 13px;
    color: #868586;
    margin: 15px 0;
}
.banner-text img {
    width: 100px;
    height: auto;
}

.banner-text img:not(:last-child){
    margin-right: 30px;
}

.two-columns {
    padding: 70px 15%;
}
.two-col-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.two-col-header h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.two-col-header p {
    font-size: 13px;
    color: #3da698;
    font-weight: 500;
}
.two-columns .yellow-button {
    background-color: #f3b329;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
}
.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.critics-left {
    position: relative;
    background-image: url(img/testimonial2-2x.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 50px;
    color: white;
    width: 60%; 
    overflow: hidden;
}

.critics-left .overlay {
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.critics-left img {
    width: 20px;
    margin-right: 20px;
    vertical-align: middle;
}
.critics-left h2 {
    font-size: 30px;
    
}
.critics-left hr {
    opacity: 0.2;
}
.critics-right {
    width: 35%;
}
.critics-left p:first-of-type:not(.didascalia) {
    font-size: 16px;
}
.critics-left p:not(:first-of-type){
    font-size: 14px;
}
.didascalia  {
    font-weight: bold;
}
.critics-right div {
    text-align: center;
    padding: 40px;
    background-color: #fef7e8;
    margin-bottom: 20px;
}

.critics-right div:not(:first-child) {
    margin-top: 30px;
}

.inline {
    display: inline-block;
}

.critics-right img {
    width: 20px;
    vertical-align: middle;
    margin-right: 20px;
}

.critics-right h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.critics-right > div p {
    font-size: 12px;
    color: #806d80;
    line-height: 22px;
    font-weight: 500;
}
.critics-right .inline {
    margin-right: 5px;
}
.events {
    text-align: center;
    padding: 50px 10%;
    background-color: #fef7e8;
}
.events h1 {
    font-size: 30px;
}
.events > p {
    font-size: 13px;
    font-weight: 500;
    margin-top: 5px;
}
.events-column {
    background-color: white;
}
.events-column div {
    text-align: center;
    padding: 10%;
    width: 350px;
}
.events-column img {
    width: 350px;
    margin-bottom: 0;
}
.events-column h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;

}
.events-column hr {
    opacity: 0.2;
}

.events-column p {
    font-size: 12px;
    color: #806d80;
    line-height: 22px;
    font-weight: 500;
}
.banner-second {
    position: relative;
    height: 60vh;
    background-image: url(img/banner-2.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

.banner-second .banner-prop {
    padding: 80px 35%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}

.banner-prop .input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.banner-prop .email {
    padding: 10px 85px 10px 10px;
    border-radius: 5px;
}

.banner-prop .subscribe {
    padding: 10px 50px;
    border-radius: 5px;
    background-color: #3da698;
    color: white;
}

.about-author {
    padding: 70px 15%; 
    height: 90vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
    text-align: center;
}
.about-author h1 {
    font-size: 30px;
    margin-bottom: 10px;
}
.about-author p {
    font-size: 13px;
    font-weight: 500;
}
.about-author .overlay {
    padding: 80% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.three-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.three-columns hr {
    width: 40px;    
    opacity: 0.5;                      
}
.three-columns h2 {
    color: white;
    font-weight: 400;
}
.three-columns p {
    color: #f3b329;
    font-size: 12px;
}
.about-author .three-columns > div {
    height: 350px;
    width:  300px;
    overflow: hidden; 
    border-bottom-right-radius: 50px;
    position: relative;
    background-size: 120%;
    background-repeat: no-repeat;
}

.three-col-left {
    background-image: url(img/box-1.jpg)
}
.three-col-middle {
    background-image: url(img/box-4.jpg)
}
.three-col-right {
    background-image: url(img/box-3.jpg)
}

.articles {
    background-color: #fef7e8;
}
.articles-left {
    width: 60%;
    background-color: white;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.articles-left h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

.articles-left p:first-of-type , .articles-right p {
    font-size: 10px;
    color: #806d80;
    margin-top: 5px;
    margin-bottom: 15px;
}
.articles-left a , .articles-right a{
    color: black;
    text-decoration: none;
}
.articles-left p:last-of-type {
    font-size: 12px;
    color: #806d80;
    font-weight: 400;
}
.articles img {
    width: 100%;
    height: 90%;
}
.articles-right {
    width: 35%;
    padding: 35px;
    background-color: white;
}
.articles-right h2 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.articles-right div:first-child {
    margin-bottom: 50px;
}

footer {
    position: relative;
    height: 60vh; 
    background-image: url(img/footer-3.jpg);
    background-size: 100%;
}

.absolute-footer {
    position: fixed;
    bottom: 0;
    right: 5%;
    width: 40px;
    height: 30px;
    background-color: rgba(134, 133, 134, 0.6);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
}